.contact {
    top: 0px;
    margin-top: 2%;
    right: 5%;
    position: absolute;
    opacity: 1;
    padding: 1%;
    background-color: rgba(211, 211, 211, 1);
    animation: annoyinganimation 10s;
    animation-fill-mode: forwards;

    max-width: 100%;
    font-size: 3vw;
}

@media (max-width:962px) {
    .linkedin {
        display: none;
    }
}

@keyframes annoyinganimation {
    transform-style: preserve-3d;
    from {
        box-shadow: 0px 0px 0px 00px rgba(0, 0, 0, 0.2);
    }
    to {
        box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, 0.2);
    }
}

.section {
    padding-top: 5%;
}

body {
    padding-top: 5%;
    font-size: 2vw;
    text-align: center;
    background-color: #DCDCDC;
    padding-bottom: 10%;
    max-width: 100%;
    max-height: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}
