.contact {
    margin-top: 2%;
    right: 5%;
    position: absolute;
    opacity: 1;
    padding: 1%;
    animation: annoyinganimation 10s;
    animation-fill-mode: forwards;

    max-width: 100%;
    font-size: 3vw;
}

@media (max-width:962px) {
    .linkedin {
        display: none;
    }
}

@keyframes annoyinganimation {
    from {
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    to {
        box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, 0.2);
    }
}

.section {
    padding-top: 5%;
	animation: annoyinganimation 10s;
    animation-fill-mode: forwards;
}

body {
    padding: 2rem;
    max-width: 38rem;
	margin: auto;
	
	font-size: 1.5em;
	text-align: center;
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

img {
    max-width: 100%;
	outline: 1.5px solid darkgray;
}
