.contact, .contact_mobile {
    margin-top: 2%;
    right: 5%;
    position: absolute;
    opacity: 1;
    padding: 1%;
    animation: annoyinganimation 10s;
    animation-fill-mode: forwards;

    max-width: 100%;
    font-size: 3vw;
}

.contact_mobile {
    padding: 3%;
    background: rgb(238,174,202);
}

@media (max-width:962px) {
    .contact {
        display: none;
    }
}

@media (min-width:962px) {
    .contact_mobile {
        display: none;
    }
}

@keyframes annoyinganimation {
    from {
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    to {
        box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, 0.2);
    }
}

.section {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    animation: annoyinganimation 10s;
    animation-fill-mode: forwards;
}

body {
    padding: 2rem;
    max-width: 38rem;
    margin: auto;	
    font-size: 1.4em;
    text-align: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

img {
    max-width: 100%;
    outline: 0px solid darkgray;
}

.paperstack {
    background-color: #fff;
	position: relative;
    max-width: 100%;
}

.paperstack,
.paperstack::before,
.paperstack::after {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    max-width: 100%;
}

.paperstack::before,
.paperstack::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eee;
}

.paperstack::before {
    left: 3px;
    top: 3px;
    z-index: -1;
}

.paperstack::after {
    left: 6px;
    top: 6px;
    z-index: -2;
}